#title {
  background-color: #ff4c68;
}

#features {
  padding: 7% 15%;
}

#pricing {
  text-align: center;
  padding: 7% 15%;
}

#cta
{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
  }

  #footer
  {
    padding: 7% 15%;
    text-align: center;
  }
  .footer-class 
  {
      margin: 10px;
  }

.check-circle {
  text-align: center;
  padding: 5%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  font-weight: 900;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: bold;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

p {
  color: #8f8f8f;
  font-size: 0.8rem;
}
.container-fluid {
  padding: 3% 15%;
}

.icon-class {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon-class:hover {
  color: #ff4c68;
}
body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.download-btn {
  margin: 2.5rem 2.5rem 0 0;
}

.title-img {
  width: 45%;
  transform: rotate(20deg);
  margin-top: 3rem;
}

.testimonials-div {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
}

.press-div {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
  padding: 5% 5% 5% 5%;
}

.press-img {
  text-align: center;
  width: 15%;
  padding: 10px 10px 5px 10px;
}

.carousel-item {
  padding: 7% 15%;
}

.card-column {
  margin: 25px 0 25px 0;
}

@media(max-width: 600px) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: white;
    font-weight: 400;
    text-align: center;
  }

  h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;

    font-weight: bold;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;

    font-weight: bold;
  }

  p {
    color: #8f8f8f;
    font-size: 1.2rem;
  }

  .download-btn {
    margin-left: 4.5rem;
  }

  .title-img {
    width: 55%;
    transform: rotate(0);
    margin: 5rem 0 2rem 6.5rem;
  }

  .nav-link {
    font-size: 30px;
  }
}
